@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Allura");
@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

#jumbotron {
  background-image: url("../images/background-image.jpg");
  height: 850px;
}

#jumbotron header {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
}

#jumbotron header nav {
  height: 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

#jumbotron header nav .logo {
  font-family: "Lobster", cursive;
  color: #0eb493;
  font-size: 38px;
  text-decoration: none;
}

#jumbotron header nav .menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  list-style-type: none;
  height: 70px;
}

#jumbotron header nav .menu li {
  padding: 22px 15px;
  border-top: transparent solid 2px;
  transition: 0.3s;
}

#jumbotron header nav .menu li:hover {
  border-top: #0eb493 solid 2px;
}

#jumbotron header nav .menu li a {
  font-family: "Lobster", cursive;
  color: #898c8d;
  font-size: 20px;
  text-decoration: none;
}

#jumbotron header nav .menu .fas {
  font-size: 20px;
  color: #898c8d;
  margin-right: 3px;
}

#jumbotron header nav .menu .far {
  font-size: 20px;
  color: #898c8d;
  margin-right: 3px;
}

#jumbotron .hero {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-top: 10px;
}

#jumbotron .hero img {
  -o-object-fit: contain;
     object-fit: contain;
}

#jumbotron .hero h1 {
  text-align: center;
  color: #9fa2a3;
  font-family: "Lobster", cursive;
  font-size: 50px;
}

#jumbotron .hero h1 span {
  color: #0eb493;
  font-size: 72px;
}

#jumbotron .hero h2 {
  text-align: center;
  font-family: "Allura", cursive;
  font-size: 45px;
  color: rgba(137, 140, 141, 0.902);
}

#jumbotron .social-media {
  text-align: center;
  margin-top: 12%;
}

#jumbotron .social-media .fab {
  width: 42px;
  height: 42px;
  margin: 0 3px;
  cursor: pointer;
  transition: 0.1s;
}

#jumbotron .social-media .fab:hover {
  transform: scale(1.1);
}

#jumbotron .social-media .fa-facebook-f {
  background-color: black;
  opacity: 0.302;
  color: white;
  -ms-flex-align: center;
      align-items: center;
  font-size: 26px;
  padding-top: 8px;
}

#jumbotron .social-media .fa-instagram {
  background-color: black;
  opacity: 0.302;
  color: white;
  -ms-flex-align: center;
      align-items: center;
  font-size: 26px;
  padding-top: 8px;
}

#jumbotron .social-media .fa-youtube {
  background-color: black;
  opacity: 0.302;
  color: white;
  -ms-flex-align: center;
      align-items: center;
  font-size: 26px;
  padding-top: 8px;
}

#jumbotron .social-media .fa-google-plus-g {
  background-color: black;
  opacity: 0.302;
  color: white;
  -ms-flex-align: center;
      align-items: center;
  font-size: 26px;
  padding-top: 8px;
}

#blog .title {
  text-align: center;
  font-size: 48px;
  font-weight: 300;
  padding: 58px 0;
  font-family: "Lobster", cursive;
  color: #0eb493;
}

#blog .services {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

#blog .services figure {
  width: 33.3334%;
  padding: 0 33px;
  text-align: center;
  transition: 0.4s;
  cursor: pointer;
}

#blog .services figure:hover {
  transform: scale(1.1);
}

#blog .services figure img {
  padding-bottom: 58px;
}

#blog .services h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 25px;
  text-align: left;
  color: #0eb493;
  font-family: "Arial";
}

#blog .services p {
  font-size: 13px;
  text-align: justify;
  font-family: "OpenSans";
}

.gray-line:after {
  content: "";
  display: block;
  border-bottom: 1px solid #818181;
  width: 830px;
  margin: 42px auto;
}

#work .title {
  text-align: center;
  font-size: 48px;
  font-weight: 300;
  padding: 58px 0;
  font-family: "Lobster", cursive;
  color: #0eb493;
}

#work .text {
  color: rgba(6, 32, 51, 0.8);
  text-align: justify;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  width: 966px;
  margin: 0 auto 70px auto;
}

#work .myprojects {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#work .myprojects figure {
  text-align: center;
}

#work .myprojects figure .image {
  position: relative;
}

#work .myprojects figure .image img {
  vertical-align: middle;
}

#work .myprojects figure .image .hover-eye {
  position: absolute;
  top: 42%;
  left: 40%;
  opacity: 0;
  z-index: 2;
}

#work .myprojects figure .image .hover-eye .fas {
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
}

#work .myprojects figure .image .hover-eye p {
  font-size: 18px;
  font-family: "Myriad";
  color: white;
}

#work .myprojects figure figcaption {
  width: 302px;
  margin: 0 auto;
  text-align: justify;
  background-color: #e9e9e9;
  padding: 15px 39px 10px 10px;
}

#work .myprojects figure figcaption h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 15px;
  text-align: left;
  color: #0eb493;
  font-family: "Miriam";
}

#work .myprojects figure figcaption p {
  font-size: 13px;
  text-align: justify;
  font-family: "OpenSans";
  color: #818181;
}

#work .myprojects figure figcaption .stars .fas {
  font-size: 24px;
  color: #eec319;
}

#work .myprojects figure figcaption .stars .far {
  font-size: 24px;
  color: #eec319;
}

#work .myprojects figure:hover .hover-eye {
  opacity: 1;
  z-index: 100;
  transition: 0.4s;
  cursor: pointer;
}

figure:hover .image::after {
  content: "";
  background-color: #0eb493;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 0.8s ease-in;
  position: absolute;
  z-index: 1;
}

#products .title {
  text-align: center;
  font-size: 48px;
  font-weight: 300;
  padding: 58px 0;
  font-family: "Lobster", cursive;
  color: #0eb493;
}

#products .myproducts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#products .myproducts figure {
  text-align: center;
}

#products .myproducts figure img {
  vertical-align: middle;
}

#products .myproducts figure figcaption {
  width: 302px;
  margin: 0 auto;
  background-color: #e9e9e9;
  padding: 15px 39px 10px 10px;
}

#products .myproducts h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 15px;
  text-align: left;
  color: #0eb493;
  font-family: "Miriam";
}

#products .myproducts p {
  font-size: 13px;
  text-align: justify;
  font-family: "OpenSans";
  color: #818181;
}

.gray-line-work:after {
  content: "";
  display: block;
  border-bottom: 1px solid #a7a7a7;
  width: 228px;
  margin: 15px 0 6px 0;
}

.gray-line-product:after {
  content: "";
  display: block;
  border-bottom: 1px solid #a7a7a7;
  width: 228px;
  margin: 3px 0 35px 0;
}

#services .title {
  text-align: center;
  font-size: 48px;
  font-weight: 300;
  padding: 58px 0;
  font-family: "Lobster", cursive;
  color: #0eb493;
}

#services .about-me {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#services .about-me p {
  font-size: 24px;
  font-family: "Miriam";
  text-align: center;
  color: rgba(6, 32, 51, 0.8);
  width: 792px;
  margin-top: 50px;
}

#contact {
  border-bottom: 5px solid #062033;
}

#contact .title {
  text-align: center;
  font-size: 48px;
  font-weight: 300;
  padding: 58px 0;
  font-family: "Lobster", cursive;
  color: #0eb493;
}

#contact p {
  font-size: 24px;
  font-family: "Arial";
  color: rgba(6, 32, 51, 0.8);
  text-align: center;
  width: 956px;
  margin: 0 auto;
}

#contact .contact-form {
  display: -ms-flexbox;
  display: flex;
  margin-top: 57px;
}

#contact .contact-form .social-media-contact ul {
  list-style-type: none;
}

#contact .contact-form .social-media-contact ul li {
  margin-top: 5px;
  font-size: 15px;
  font-family: "OpenSans";
  color: #6a737b;
}

#contact .contact-form .social-media-contact ul li .fab {
  width: 42px;
  height: 42px;
  transition: 0.1s;
}

#contact .contact-form .social-media-contact ul li .fab:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#contact .contact-form .social-media-contact ul li .fa-facebook-f {
  background-color: black;
  opacity: 0.302;
  color: white;
  -ms-flex-align: center;
      align-items: center;
  font-size: 26px;
  padding-top: 8px;
  padding-left: 14px;
  margin-right: 8px;
}

#contact .contact-form .social-media-contact ul li .fa-instagram {
  background-color: black;
  opacity: 0.302;
  color: white;
  -ms-flex-align: center;
      align-items: center;
  font-size: 26px;
  padding-top: 8px;
  padding-left: 10px;
  margin-right: 8px;
}

#contact .contact-form .social-media-contact ul li .fa-youtube {
  background-color: black;
  opacity: 0.302;
  color: white;
  -ms-flex-align: center;
      align-items: center;
  font-size: 26px;
  padding-top: 8px;
  padding-left: 6px;
  margin-right: 8px;
}

#contact .contact-form .social-media-contact ul li .fa-google-plus-g {
  background-color: black;
  opacity: 0.302;
  color: white;
  -ms-flex-align: center;
      align-items: center;
  font-size: 26px;
  padding-top: 8px;
  padding-left: 5px;
  margin-right: 8px;
}

#contact .contact-form form {
  margin-left: 30px;
  width: 64%;
}

#contact .contact-form form .witaj {
  color: #0eb493;
  font-family: "Lobster", cursive;
  margin-bottom: 25px;
  font-size: 24px;
}

#contact .contact-form form .form-name {
  display: -ms-flexbox;
  display: flex;
}

#contact .contact-form form .form-name input {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 364px;
  border-width: 3px;
}

#contact .contact-form form .form-name input:first-child {
  margin-right: 20px;
}

#contact .contact-form form .form-textarea {
  margin-top: 26px;
}

#contact .contact-form form .form-textarea textarea {
  width: 748px;
  height: 137px;
  margin-bottom: 15px;
}

#contact .contact-form form .form-submit :first-child {
  margin-left: 600px;
  vertical-align: middle;
}

#contact .contact-form form .form-submit .fa-envelope {
  color: #0eb493;
  margin-right: 5px;
}

#contact .contact-form form .form-submit input {
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-family: "Miriam";
  margin-bottom: 40px;
  cursor: pointer;
}

footer {
  background-color: #b1b4b3;
}

footer .footer-elements {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 105px 0 170px 0;
}

footer .footer-elements .about-company {
  max-width: 224px;
}

footer .footer-elements .about-company h2 {
  font-size: 28px;
  font-family: "Lobster", cursive;
  color: white;
}

footer .footer-elements .about-company p {
  font-size: 13px;
  font-family: "OpenSans";
  color: white;
  padding-top: 20px;
}

footer .footer-elements .search h2 {
  font-size: 14px;
  font-family: "Myriad";
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 40px;
}

footer .footer-elements .search input {
  background-color: transparent;
  border: 1px solid white;
  width: 271px;
  height: 46px;
  border-radius: 3px;
}

footer .footer-elements .create ul {
  list-style-type: none;
}

footer .footer-elements .create ul :first-child {
  padding-bottom: 20px;
}

footer .footer-elements .create ul li {
  font-size: 13px;
  font-family: "OpenSans";
  color: #062033;
}

footer .footer-elements .create ul li span {
  color: white;
}
/*# sourceMappingURL=style.prefixed.css.map */