@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Allura");
@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: transparent;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

#jumbotron {
  background-image: url("../images/background-image.jpg");
  height: 850px;
}

#jumbotron header {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
}

#jumbotron header nav {
  height: 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

#jumbotron header nav label {
  margin-right: 20px;
  font-size: 26px;
  display: none;
  width: 26px;
}

#jumbotron header nav #toggle {
  display: none;
}

#jumbotron header nav .logo {
  font-family: "Lobster", cursive;
  color: #0eb493;
  font-size: 38px;
  text-decoration: none;
  font-weight: bold;
}

#jumbotron header nav ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  list-style-type: none;
  height: 70px;
}

#jumbotron header nav ul li {
  padding: 22px 15px;
  border-top: transparent solid 2px;
  transition: 0.3s;
}

#jumbotron header nav ul li:hover {
  border-top: #0eb493 solid 2px;
}

#jumbotron header nav ul li a {
  font-family: "Lobster", cursive;
  color: #898c8d;
  font-size: 20px;
  text-decoration: none;
}

#jumbotron header nav ul .fas {
  font-size: 20px;
  color: #898c8d;
  margin-right: 3px;
}

#jumbotron header nav ul .far {
  font-size: 20px;
  color: #898c8d;
  margin-right: 3px;
}

#jumbotron .hero {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-top: 10px;
}

#jumbotron .hero img {
  -o-object-fit: contain;
     object-fit: contain;
}

#jumbotron .hero h1 {
  text-align: center;
  color: #9fa2a3;
  font-family: "Lobster", cursive;
  font-size: 50px;
}

#jumbotron .hero h1 span {
  color: #0eb493;
  font-size: 72px;
}

#jumbotron .hero h2 {
  text-align: center;
  font-family: "Allura", cursive;
  font-size: 45px;
  color: rgba(137, 140, 141, 0.902);
}

#jumbotron .social-media {
  text-align: center;
  margin-top: 12%;
}

#jumbotron .social-media .fab {
  width: 42px;
  height: 42px;
  margin: 0 3px;
  cursor: pointer;
  transition: 0.1s;
}

#jumbotron .social-media .fab:hover {
  transform: scale(1.1);
}

#jumbotron .social-media .fa-facebook-f {
  background-color: black;
  opacity: 0.302;
  color: white;
  -ms-flex-align: center;
      align-items: center;
  font-size: 26px;
  padding-top: 8px;
}

#jumbotron .social-media .fa-instagram {
  background-color: black;
  opacity: 0.302;
  color: white;
  -ms-flex-align: center;
      align-items: center;
  font-size: 26px;
  padding-top: 8px;
}

#jumbotron .social-media .fa-youtube {
  background-color: black;
  opacity: 0.302;
  color: white;
  -ms-flex-align: center;
      align-items: center;
  font-size: 26px;
  padding-top: 8px;
}

#jumbotron .social-media .fa-google-plus-g {
  background-color: black;
  opacity: 0.302;
  color: white;
  -ms-flex-align: center;
      align-items: center;
  font-size: 26px;
  padding-top: 8px;
}

#blog .title {
  text-align: center;
  font-size: 48px;
  font-weight: 300;
  padding: 45px 0;
  font-family: "Lobster", cursive;
  color: #0eb493;
}

#blog .services {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

#blog .services figure {
  text-align: center;
  transition: 0.4s;
  cursor: pointer;
}

#blog .services figure img {
  padding-bottom: 58px;
}

#blog .services figcaption {
  width: 302px;
  margin: 0 auto;
  text-align: justify;
}

#blog .services figcaption h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 25px;
  text-align: left;
  color: #0eb493;
  font-family: "Roboto";
}

#blog .services figcaption p {
  font-size: 12px;
  text-align: justify;
  font-family: "Roboto";
}

.gray-line:after {
  content: "";
  display: block;
  border-bottom: 1px solid #818181;
  width: 830px;
  margin: 42px auto 0 auto;
}

#work .title {
  text-align: center;
  font-size: 48px;
  font-weight: 300;
  padding: 45px 0;
  font-family: "Lobster", cursive;
  color: #0eb493;
}

#work .text {
  color: rgba(6, 32, 51, 0.8);
  text-align: justify;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto 70px auto;
}

#work .myprojects {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

#work .myprojects figure {
  padding: 30px 32px 0 32px;
  width: 33.33334%;
  min-width: 291px;
}

#work .myprojects figure .image {
  line-height: 0;
  position: relative;
  overflow: hidden;
  height: 301px;
  cursor: pointer;
}

#work .myprojects figure figcaption {
  background-color: #f4f4f4;
  padding: 15px 39px 10px 10px;
}

#work .myprojects figure figcaption h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 15px;
  text-align: left;
  color: #0eb493;
  font-family: "Roboto";
}

#work .myprojects figure figcaption p {
  font-size: 12px;
  text-align: justify;
  font-family: "Roboto";
  color: #818181;
}

#work .myprojects figure figcaption .stars .fas {
  font-size: 24px;
  color: #eec319;
}

#work .myprojects figure figcaption .stars .far {
  font-size: 24px;
  color: #eec319;
}

.search-ico {
  background: url("../images/search-icon.png");
  height: 45px;
  width: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity .5s ease;
  z-index: 2;
}

.image > img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.image::before {
  content: "";
  background-color: #0eb493;
  width: 200%;
  height: 120%;
  transform: -webkit-rotate(2deg);
  transform: -ms-rotate(2deg);
  transform: rotate(2deg);
  left: -20%;
  top: 0;
  margin-top: 295px;
  transition: 0.5s ease-in;
  position: absolute;
  z-index: 1;
}

figure:hover .search-ico {
  transition-delay: .4s;
  opacity: 1;
}

figure:hover .image::before {
  margin-top: -20px;
  background-color: #0eb493;
}

#products .title {
  text-align: center;
  font-size: 48px;
  font-weight: 300;
  padding: 45px 0;
  font-family: "Lobster", cursive;
  color: #0eb493;
}

#products .myproducts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

#products .myproducts figure {
  padding: 30px 32px 0 32px;
  width: 33.33334%;
  min-width: 291px;
}

#products .myproducts figure .image2 {
  line-height: 0;
  position: relative;
  overflow: hidden;
  height: 301px;
  cursor: pointer;
}

#products .myproducts figure figcaption {
  background-color: #f4f4f4;
  padding: 15px 39px 10px 10px;
}

#products .myproducts figure figcaption h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 15px;
  text-align: left;
  color: #0eb493;
  font-family: "Roboto";
}

#products .myproducts figure figcaption p {
  font-size: 12px;
  text-align: justify;
  font-family: "Roboto";
  color: #818181;
}

.gray-line-work:after {
  content: "";
  display: block;
  border-bottom: 1px solid #a7a7a7;
  width: 75%;
  margin: 10px 0 15px 0;
}

.gray-line-product:after {
  content: "";
  display: block;
  border-bottom: 1px solid #a7a7a7;
  width: 75%;
  margin: 3px 0 15px 0;
}

#about-me .title {
  text-align: center;
  font-size: 48px;
  font-weight: 300;
  padding: 45px 0;
  font-family: "Lobster", cursive;
  color: #0eb493;
}

#about-me .about-me {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

#about-me .about-me p {
  font-size: 20px;
  font-family: "Roboto";
  text-align: justify;
  color: rgba(6, 32, 51, 0.8);
  margin-top: 50px;
}

#contact {
  border-bottom: 5px solid #062033;
}

#contact .title {
  text-align: center;
  font-size: 48px;
  font-weight: 300;
  padding: 58px 0;
  font-family: "Lobster", cursive;
  color: #0eb493;
}

#contact p {
  font-size: 20px;
  font-family: "Roboto";
  color: rgba(6, 32, 51, 0.8);
  text-align: center;
  margin: 0 auto;
}

#contact form {
  width: 50%;
  margin: 20px auto 0 auto;
}

#contact form .contact-form {
  width: 100%;
}

#contact form .contact-form .form-name {
  display: -ms-flexbox;
  display: flex;
}

#contact form .contact-form .form-name :nth-child(2) {
  margin-right: 0;
}

#contact form .contact-form .form-name input {
  border: #0eb493 solid 1px;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  margin: 0 20px 10px 0;
}

#contact form .contact-form .form-textarea textarea {
  width: 100%;
  border: #0eb493 solid 1px;
  border-radius: 5px;
  padding: 5px;
}

#contact form .contact-form .form-submit {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

#contact form .contact-form .form-submit input {
  color: #0eb493;
  border-radius: 5px;
  border: transparent;
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 40px;
}

.scrolltop {
  display: none;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 20px;
  right: 10px;
}

.scrolltop .scroll {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #b2b2b2;
  background: #0eb493;
  padding: 15px;
  text-align: center;
  margin: 0;
  cursor: pointer;
  transition: 0.3s;
}

.scrolltop .scroll:hover {
  background: white;
  transition: 0.3s;
  border: 1px solid #0eb493;
}

.scrolltop .scroll:hover .fa {
  padding-top: -10px;
  color: #0eb493;
}

.scrolltop .scroll .fa {
  font-size: 30px;
  margin-top: -5px;
  margin-left: 1px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  color: white;
  font-size: 50px;
}

.scrolltop .scroll .fa-angle-up {
  font-size: 50px;
}

@media (max-width: 1199px) {
  #jumbotron header nav .logo {
    padding-left: 10px;
  }
  #blog .services {
    padding: 32px;
  }
}

#work .text {
  padding: 0 32px;
}

#about-me .about-me {
  -ms-flex-direction: column;
      flex-direction: column;
}

#about-me .about-me img {
  -o-object-fit: contain;
     object-fit: contain;
}

#about-me .about-me p {
  margin: 0 auto;
  padding: 15px 32px 0 32px;
}

@media (max-width: 991px) {
  #jumbotron header nav {
    display: block;
  }
  #jumbotron header nav .logo {
    display: none;
  }
  #jumbotron header nav label {
    display: inline-block;
    cursor: pointer;
    color: white;
    transition: 0.6s;
    float: right;
    margin: 10px 50px 10px 0;
  }
  #jumbotron header nav ul {
    text-align: center;
    width: 100%;
    display: none;
  }
  #jumbotron header nav ul li {
    background-color: white;
    border-bottom: 1px solid #0eb493;
  }
  #jumbotron header nav ul li:first-child {
    display: none;
  }
  #jumbotron header nav ul li a {
    display: block;
  }
  #jumbotron header nav ul li a:hover {
    color: #0eb493;
  }
  #jumbotron header nav #toggle:checked + ul {
    display: block;
    position: absolute;
  }
}
/*# sourceMappingURL=style.prefixed.css.map */