@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Allura');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$fontLObster: 'Lobster',
cursive;
$fontAllura: 'Allura',
cursive;
$fontRoboto: 'Roboto';
$colorTitle: rgb(14, 180, 147);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: transparent;

}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

#jumbotron {
    background-image: url("../images/background-image.jpg");
    height: 850px;

    header {
        background-color: rgb(250, 219, 201);
        width: 100%;

        nav {
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            label {
                margin-right: 20px;
                font-size: 26px;
                display: none;
                width: 26px;
            }

            #toggle {
                display: none;
            }

            .logo {
                font-family: $fontLObster;
                color: $colorTitle;
                font-size: 38px;
                text-decoration: none;
                font-weight: bold;
            }

            ul {
                display: flex;
                align-items: center;
                list-style-type: none;
                height: 70px;

                li {
                    padding: 22px 10px;
                    border-top: transparent solid 2px;
                    transition: 0.3s;

                    &:hover {
                        border-top: $colorTitle solid 2px;
                    }

                    a {
                        font-family: $fontLObster;
                        color: rgb(137, 140, 141);
                        font-size: 20px;
                        text-decoration: none;

                    }
                }

                .fas {
                    font-size: 20px;
                    color: rgb(137, 140, 141);
                    margin-right: 3px;
                }

                .far {
                    font-size: 20px;
                    color: rgb(137, 140, 141);
                    margin-right: 3px;
                }

            }
        }
    }

    .hero {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 10px;

        img {
            object-fit: contain;
        }

        h1 {
            text-align: center;
            color: rgb(159, 162, 163);
            font-family: $fontLObster;
            font-size: 50px;

            span {
                color: $colorTitle;
                font-size: 72px;

            }


        }

        h2 {
            text-align: center;
            font-family: $fontAllura;
            font-size: 45px;
            color: rgba(137, 140, 141, 0.902);


        }
    }

    .social-media {
        text-align: center;

        .fab {
            width: 42px;
            height: 42px;
            margin: 0 3px;
            cursor: pointer;
            transition: 0.1s;

            &:hover {
                transform: scale(1.1);
            }

        }

        .fa-facebook-f {
            color: rgb(137, 140, 141);
            align-items: center;
            font-size: 26px;
            padding-top: 8px;
        }

        .fa-instagram {
            color: rgb(137, 140, 141);
            align-items: center;
            font-size: 26px;
            padding-top: 8px;
        }

        .fa-youtube {
            color: rgb(137, 140, 141);
            align-items: center;
            font-size: 26px;
            padding-top: 8px;
        }
    }
}


#blog {
    .title {
        text-align: center;
        font-size: 48px;
        font-weight: 300;
        padding: 45px 0;
        font-family: $fontLObster;
        color: $colorTitle;

    }

    .services {
        display: flex;
        justify-content: space-between;

        figure {
            text-align: center;
            transition: 0.4s;
            cursor: pointer;

            img {
                padding-bottom: 58px;
            }
        }

        figcaption {
            width: 302px;
            margin: 0 auto;
            text-align: justify;

            h3 {
                font-size: 20px;
                font-weight: bold;
                padding-bottom: 25px;
                text-align: left;
                color: $colorTitle;
                font-family: $fontRoboto;

            }

            p {
                font-size: 12px;
                text-align: justify;
                font-family: $fontRoboto;

            }
        }
    }

}

.gray-line:after {
    content: "";
    display: block;
    border-bottom: 1px solid rgb(129, 129, 129);
    width: 83%;
    margin: 42px auto 0 auto;

}

#work {
    .title {
        text-align: center;
        font-size: 48px;
        font-weight: 300;
        padding: 45px 0;
        font-family: $fontLObster;
        color: $colorTitle;
    }

    .text {
        color: rgba(6, 32, 51, 0.8);
        text-align: justify;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        margin: 0 auto 70px auto;

    }

    .myprojects {
        display: flex;
        justify-content: space-between;


        figure {
            padding: 30px 32px 0 32px;
            width: 33.33334%;
            min-width: 291px;



            .image {
                line-height: 0;
                position: relative;
                overflow: hidden;
                height: 301px;
                cursor: pointer;
            }

            figcaption {
                background-color: #f4f4f4;
                padding: 15px 39px 10px 10px;

                h3 {
                    font-size: 20px;
                    font-weight: bold;
                    padding-bottom: 15px;
                    text-align: left;
                    color: $colorTitle;
                    font-family: $fontRoboto;

                }

                p {
                    font-size: 12px;
                    text-align: justify;
                    font-family: $fontRoboto;
                    color: rgb(129, 129, 129);

                }

                .stars {
                    .fas {
                        font-size: 24px;
                        color: #eec319;
                    }

                    .far {
                        font-size: 24px;
                        color: #eec319;
                    }
                }
            }
        }
    }
}



.search-ico {
    background: url("../images/search-icon.png");
    height: 45px;
    width: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,
        -50%);
    opacity: 0;
    transition: opacity .5s ease;
    z-index: 2;
}

.image>img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.image::before {
    content: "";
    background-color: $colorTitle;
    width: 200%;
    height: 120%;
    transform: -webkit-rotate(2deg);
    transform: -ms-rotate(2deg);
    transform: rotate(2deg);
    left: -20%;
    top: 0;
    margin-top: 295px;
    transition: 0.5s ease-in;
    position: absolute;
    z-index: 1;
}



figure:hover .search-ico {
    transition-delay: .4s;
    opacity: 1;
}

figure:hover .image::before {
    margin-top: -20px;
    background-color: rgba(14, 180, 147, 0.6);
}


#products {
    .title {
        text-align: center;
        font-size: 48px;
        font-weight: 300;
        padding: 45px 0;
        font-family: $fontLObster;
        color: $colorTitle;
    }

    .myproducts {
        display: flex;
        justify-content: space-between;

        figure {
            padding: 30px 32px 0 32px;
            width: 33.33334%;
            min-width: 291px;



            .image {
                line-height: 0;
                position: relative;
                overflow: hidden;
                height: 301px;
                cursor: pointer;
            }

            figcaption {
                background-color: #f4f4f4;
                padding: 15px 39px 10px 10px;

                h3 {
                    font-size: 20px;
                    font-weight: bold;
                    padding-bottom: 15px;
                    text-align: left;
                    color: $colorTitle;
                    font-family: $fontRoboto;

                }

                p {
                    font-size: 12px;
                    text-align: justify;
                    font-family: $fontRoboto;
                    color: rgb(129, 129, 129);

                }


            }
        }
    }
}

.gray-line-work:after {
    content: "";
    display: block;
    border-bottom: 1px solid rgb(167, 167, 167);
    width: 75%;
    margin: 10px 0 15px 0;


}

.gray-line-product:after {
    content: "";
    display: block;
    border-bottom: 1px solid rgb(167, 167, 167);
    width: 75%;
    margin: 3px 0 15px 0;

}

#about-me {
    .title {
        text-align: center;
        font-size: 48px;
        font-weight: 300;
        padding: 45px 0;
        font-family: $fontLObster;
        color: $colorTitle;
    }

    .about-me {
        display: flex;
        justify-content: space-between;

        p {
            font-size: 20px;
            font-family: $fontRoboto;
            text-align: justify;
            color: rgba(6, 32, 51, 0.8);
            margin-top: 50px;
            padding: 0 10px;

        }
    }
}

#contact {
    border-bottom: 5px solid rgb(6, 32, 51);

    .title {
        text-align: center;
        font-size: 48px;
        font-weight: 300;
        padding: 58px 0;
        font-family: $fontLObster;
        color: $colorTitle;
    }

    p {
        font-size: 20px;
        font-family: $fontRoboto;
        color: rgba(6, 32, 51, 0.8);
        text-align: center;
        margin: 0 auto;
    }

    form {

        width: 50%;
        margin: 20px auto 0 auto;

        .contact-form {
            width: 100%;

            .form-name {
                display: flex;

                :nth-child(2) {
                    margin-right: 0;
                }

                input {
                    border: $colorTitle solid 1px;
                    border-radius: 5px;
                    padding: 5px;
                    width: 100%;
                    margin: 0 20px 10px 0;
                }

            }

            .form-textarea {
                textarea {
                    width: 100%;
                    border: $colorTitle solid 1px;
                    border-radius: 5px;
                    padding: 5px;
                }
            }

            .form-submit {
                display: flex;
                justify-content: flex-end;

                input {
                    color: $colorTitle;
                    border-radius: 5px;
                    border: transparent;
                    padding: 5px 10px;
                    cursor: pointer;
                    margin-bottom: 40px;
                }
            }

        }
    }

}

.scrolltop {
    display: none;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 20px;
    right: 10px;

    .scroll {
        position: absolute;
        right: 20px;
        bottom: 20px;
        background: #b2b2b2;
        background: $colorTitle;
        padding: 15px;
        text-align: center;
        margin: 0;
        cursor: pointer;
        transition: 0.3s;



        &:hover {
            background: white;
            transition: 0.3s;
            border: 1px solid $colorTitle;

            .fa {
                padding-top: -10px;
                color: $colorTitle;
            }
        }

        .fa {
            font-size: 30px;
            margin-top: -5px;
            margin-left: 1px;
            transition: 0.5s;
            -moz-transition: 0.5s;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            color: white;
            font-size: 50px;
        }


        .fa-angle-up {
            font-size: 50px;
        }
    }
}

@media(max-width: 1199px) {
    #jumbotron {
        header {
            nav {
                .logo {
                    padding-left: 10px;
                }


            }
        }
    }

    #blog {
        .services {
            padding: 32px;
        }

    }


    #work {
        .text {
            padding: 0 32px;
        }


    }

    #about-me {
        .about-me {
            flex-direction: column;

            img {
                object-fit: contain;
            }

            p {
                margin: 0 auto;
                padding: 15px 32px 0 32px;
            }

        }
    }
}

@media(max-width: 991px) {
    #jumbotron {
        header {
            nav {
                display: block;

                .logo {
                    display: none;
                }

                .social-media {
                    text-align: left;
                    display: flex;
                    padding: 10px;
                }

                label {
                    display: inline-block;
                    cursor: pointer;
                    color: white;
                    transition: 0.6s;
                    float: right;
                    margin: 10px 50px 10px 0;


                }

                ul {
                    text-align: center;
                    width: 100%;
                    display: none;


                    li {
                        background-color: white;
                        border-bottom: 1px solid $colorTitle;

                        &:first-child {
                            display: none;
                        }

                        a {
                            display: block;

                            &:hover {
                                color: $colorTitle;
                            }
                        }
                    }
                }

                #toggle:checked+ul {
                    display: block;
                    position: absolute;
                }
            }
        }

        .hero {
            h1 {
                font-size: 40px;

                span {
                    font-size: 62px;
                }
            }

            h2 {
                font-size: 35px;
            }
        }
    }

    #blog {
        .title {
            padding-bottom: 25px;
        }

        .services {
            display: flex;
            flex-direction: column;
            justify-content: center;

            figure {
                img {
                    padding-bottom: 29px;
                }

                figcaption {
                    h3 {
                        text-align: center;
                    }

                    p {
                        padding-bottom: 29px;
                    }
                }
            }
        }
    }

    #work {
        .title {
            padding-bottom: 25px;
        }

        .myprojects {
            flex-direction: column;

            figure {
                margin: 0 auto;
            }
        }
    }

    #products {
        .title {
            padding-bottom: 25px;
        }

        .myproducts {
            flex-direction: column;

            figure {
                margin: 0 auto;
            }
        }
    }

    #about-me {
        .title {
            padding-bottom: 25px;
        }

        .about-me {
            p {
                font-size: 16px;
            }
        }
    }

    #contact {
        padding: 0 32px;

        .title {
            padding-bottom: 25px;

        }

        p {
            font-size: 16px;
        }

        form {
            .contact-form {
                .form-name {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}

@media(max-width: 640px) {}

@media(max-width: 420px) {}